<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jenny & Tom</title>
  <link rel="stylesheet" href="/css/pure-min.css">
  <link rel="stylesheet" href="/css/styles.css">

</head>

  <body>
    <div class="pure-g splash">
      <div class="pure-u-1">
        <h1 class="is-center">JENNY & TOM ARE GETTING MARRIED</h1>
      </div>
    </div>
    <div class="pure-g details">
      <div class="pure-u-1">
        <h1 class="is-center">DETAILS</h1>
      </div>
    </div>
    <div class="pure-g directions">
      <div class="pure-u-1">
        <h1 class="is-center">DIRECTIONS</h1>
      </div>
    </div>
    <div class="pure-g accomodations">
      <div class="pure-u-1">
        <h1 class="is-center">ACCOMODATIONS</h1>
      </div>
    </div>
    <div class="pure-g things-to-do">
      <div class="pure-u-1">
        <h1 class="is-center">THINGS TO DO</1>
      </div>
    </div>
    <div class="pure-g registry">
      <div class="pure-u-1">
        <h1 class="is-center">REGISTRY</1>
      </div>
    </div>



  </body>
</html>
