<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jenny + Tom</title>
  <link rel="stylesheet" href="/css/pure-min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
  <body>
    <div class="headline">
      <header>
        <h2 class="title is-center">JENNY + TOM</h2>
      </header>
      <div class="pure-g">
        <div class="pure-u-1 padding">
          <h1 class="is-center">WE'RE GETTING MARRIED</h1>
          <h2 class="is-center">MAY 18, 2015 / ARNOLD ARBORETUM / BOSTON</h2>
          <br>
          <div class="is-center">
            <a class="rsvp-button" href="#">RSVP</a>
          </div>
        </div>
      </div>
    </div>
    <div class="pure-g details padding">
      <div class="pure-u-1">
        <h1 class="is-center">DETAILS</h1>
      </div>
    </div>
    <div class="pure-g directions padding">
      <div class="pure-u-1">
        <h1 class="is-center">DIRECTIONS</h1>
      </div>
    </div>
    <div class="pure-g accomodations padding">
      <div class="pure-u-1">
        <h1 class="is-center">ACCOMODATIONS</h1>
      </div>
    </div>
    <div class="pure-g things-to-do padding">
      <div class="pure-u-1">
        <h1 class="is-center">THINGS TO DO</1>
      </div>
    </div>
    <div class="pure-g registry padding">
      <div class="pure-u-1">
        <h1 class="is-center">REGISTRY</1>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>
