html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.rsvp-button {
  background-color: white;
  border-radius: 30px;
  padding: 15px 21px;
  text-decoration: none;
  color: black;
}

a:active.rsvp-button {
  text-decoration: none;
  color: black:
}

a:hover.rsvp-button {
  color: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.padding {
  padding: 200px 0;
}

.is-center {
    text-align: center;
}

.headline {
  background-color: #F4F4F4;
  /*background-image: '/images/IMG_9085.jpg';*/
}

.title {
  margin: 0px;
  padding: 20px;
}

.details {
  background-color: #A7A7A7;
}

.directions {
  background-color: #F4F4F4;
}

.accomodations {
  background-color: #A7A7A7;
}

.things-to-do {
  background-color: #F4F4F4;
}

.registry {
  background-color: #A7A7A7;
}
